<div id="search-results">

  Search by postcode <br>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Find</span>
    </div>

    <input type="text" #searchBox id="search-box" class="form-control" (keyup)="search(searchBox.value)" placeholder="Find" aria-label="Fine" aria-describedby="sizing-addon1">
  </div>


  <div *ngFor="let practitioner of practitioners$ | async" >
    <a (click)="selectPractitioner(practitioner)">
      <app-practitioner [practitioner]="practitioner"></app-practitioner>
    </a>
  </div>
</div>
