<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Medication</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-medication [medications]="selectedMeds"></app-medication>
  </div>
</ng-template>
<table class="table">
  <thead>
  <tr>
    <th scope="col" width="70%">Medication Statement</th>
    <th scope="col">Status</th>
    <th scope="col">Start</th>
    <th scope="col" width="5%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medication of medicationStatements">
    <td>
      <div *ngIf="medication.medicationCodeableConcept !=undefined" ngbTooltip="{{getCodeSystem(medication.medicationCodeableConcept.coding[0].system)}} {{medication.medicationCodeableConcept.coding[0].code}}">
        <b *ngIf="medication.medicationCodeableConcept !=undefined">{{medication.medicationCodeableConcept.coding[0].display}}</b>
        <a (click)="getSNOMEDLink(medication.medicationCodeableConcept.coding[0])"><span class="fa fa-book"></span></a>
        <a (click)="getDMDLink(medication.medicationCodeableConcept.coding[0])"><span class="fa fa-bookmark"></span></a>
      </div>
      <span *ngIf="medication.medicationReference !=undefined">
        <span *ngIf="medication.medicationReference.display != undefined">
          <b>{{medication.medicationReference.display}}</b>
        </span>
        <span *ngIf="medication.medicationReference.display == undefined">
          <a (click)="onClick(modalContent, medication)"> <span class="badge badge-info">medication</span></a>
        </span>
        </span>
        <br>
        <span *ngFor="let dosage of medication.dosage"> <i>DOSE</i>
            <span *ngIf="dosage.doseQuantity!=undefined">{{dosage.doseQuantity.value}} {{dosage.doseQuantity.unit}}</span>
          - <span *ngIf="dosage.route!=undefined && dosage.route.coding.length>0" >
              <span class="badge badge-light">route</span>
              {{dosage.route.coding[0].display}}
              <a (click)="getSNOMEDLink(dosage.route.coding[0])" ngbTooltip="{{getCodeSystem(dosage.route.coding[0].system)}} {{dosage.route.coding[0].code}}"><span class="fa fa-book"></span></a>
            </span> -

            <span *ngIf="dosage.maxDosePerPeriod != undefined" >
              <span class="badge badge-light">form</span>
              <span  > {{dosage.maxDosePerPeriod.numerator.value}} {{dosage.maxDosePerPeriod.numerator.unit}} </span>
              <a (click)="getSNOMEDLink(dosage.maxDosePerPeriod.numerator)"><span class="fa fa-book" ngbTooltip="{{getCodeSystem(dosage.maxDosePerPeriod.numerator.system)}} {{dosage.maxDosePerPeriod.numerator.code}}"></span></a>
              <span ngbTooltip="{{getCodeSystem(dosage.maxDosePerPeriod.denominator.system)}} {{dosage.maxDosePerPeriod.denominator.code}}"> {{dosage.maxDosePerPeriod.denominator.value}}{{dosage.maxDosePerPeriod.denominator.code}} </span>
            </span>
            <span *ngIf="dosage.asNeededBoolean"> as required</span>
        </span>
      </td>
    <td>
        {{medication.status}}
      </td>
    <td>
        {{medication.dateAsserted}}
      </td>
    <td>
      <a (click)="select(medication)">
        <span class="fa fa-arrow-right" ngbTooltip="View Resource" style="color:green"></span>
      </a>
    </td>
  </tr>
  </tbody>
</table>
