/* Master Styles */

@import '~bootstrap/scss/bootstrap.scss';
@import '~vis/dist/vis-timeline-graph2d.min.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
//@import "~font-awesome/css/font-awesome.min.css";


body { color: #000000; font-size: 10pt; line-height: normal;  margin: 10px; }


table { border: none;   table-layout: fixed; text-align: left; width: 100%;}
th.default {padding: 3px; color: #000000;  text-align: left;}
th {padding: 3px; font-size: 10pt;}
td {padding: 3px; font-size: 10pt;}
p { padding: 3px; font-size: 10pt;}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;

}
a {
  cursor: pointer;
  cursor: hand;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;

}
a {
  cursor: pointer;
  cursor: hand;
}
button {

  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.vis-item.green {
  background-color: limegreen;
  border-color: darkgreen;
}

.vis-item.red {
  background-color: salmon;
  border-color: saddlebrown;
}

.xlModal > .modal-dialog {
  max-width: 1490px !important;
  min-width: 971px !important;
  width: 95% !important;
}

