<ng-template id="modalContent" #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span *ngIf="selectedEncounter.type != undefined && selectedEncounter.type[0].coding != undefined">
      <h4>{{selectedEncounter.type[0].coding[0].display}}</h4>
    </span>
    <span *ngIf="selectedEncounter.type == undefined || selectedEncounter.type[0].coding == undefined">
      <h4>Encounter</h4>
    </span>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-encounter-detail [patientId]="patient.id" [encounterId]="selectedEncounter.id"></app-encounter-detail>
  </div>
</ng-template>


<table class="table">
  <thead>
  <tr>
    <th scope="col" width="30%">Date</th>
    <th scope="col" width="60%">Encounter</th>
    <th scope="col"></th>
    <th scope="col" width="5%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let encounter of encounters">
    <td>
      <span class="badge badge-light" >start</span>{{encounter.period.start | date: 'dd-MMM-yyyy HH:mm'}}
      <span *ngIf="encounter.period.end !== undefined"> <span class="badge badge-light" >end</span>{{encounter.period.end | date: 'dd-MMM-yyyy HH:mm'}}</span>
    </td>
    <td>
      <span *ngIf="encounter.type != undefined && encounter.type.length>0 && encounter.type[0].coding.length >0">
        <b>{{encounter.type[0].coding[0].display}}</b>
        <span *ngIf="isSNOMED(encounter.type[0].coding[0].system)">
          <a (click)="getSNOMEDLink(encounter.type[0].coding[0])"> <span *ngIf="encounter.type[0].coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(encounter.type[0].coding[0].system)}} {{encounter.type[0].coding[0].code}}"></span> </a>
        </span>
        <span *ngIf="!isSNOMED(encounter.type[0].coding[0].system)">
          <span *ngIf="encounter.type[0].coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(encounter.type[0].coding[0].system)}} {{encounter.type[0].coding[0].code}}"></span>
        </span>
      </span>
      <span *ngFor="let participant of encounter.participant">
          <span *ngIf="participant.individual != undefined"><i>{{participant.individual.display}}</i></span>
      </span>
      <span *ngIf="encounter.serviceProvider!=undefined"> {{encounter.serviceProvider.display}}</span>

    </td>
    <td><a *ngIf="showDetail" (click)="onClick(modalContent, encounter)"> <span class="badge badge-success">view consultation</span></a> </td>
    <td>
      <button mat-icon-button color="accent" (click)="select(encounter)"><mat-icon>code</mat-icon></button>
    </td>
  </tr>
  </tbody>
</table>
