<table class="table">
  <thead>
  <tr>
    <th scope="col" width="30%">Date</th>
    <th scope="col" width="60%">Encounter</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let encounter of encounters">
    <td>
      {{encounter.period.start | date: 'dd-MMM-yyyy HH:mm'}}
    </td>
    <td>
      <span *ngIf="encounter.type != undefined && encounter.type.length>0 && encounter.type[0].coding.length >0">
        <b>{{encounter.type[0].coding[0].display}}</b>
        <span *ngIf="isSNOMED(encounter.type[0].coding[0].system)">
          <a (click)="getSNOMEDLink(encounter.type[0].coding[0])"> <span *ngIf="encounter.type[0].coding[0].code != undefined" class="badge badge-info" ngbTooltip="{{getCodeSystem(encounter.type[0].coding[0].system)}} {{encounter.type[0].coding[0].code}}">code</span> </a>
        </span>
        <span *ngIf="!isSNOMED(encounter.type[0].coding[0].system)">
          <span *ngIf="encounter.type[0].coding[0].code != undefined" class="badge badge-info" ngbTooltip="{{getCodeSystem(encounter.type[0].coding[0].system)}} {{encounter.type[0].coding[0].code}}">code</span>
        </span>
      </span>
      <span *ngFor="let participant of encounter.participant">
          <span *ngIf="participant.individual != undefined"><i>{{participant.individual.display}}</i></span>
      </span>
      <span *ngIf="encounter.serviceProvider!=undefined"> {{encounter.serviceProvider.display}}</span>

    </td>

  </tr>
  </tbody>
</table>
