<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>{{selectedObs.code.coding[0].display}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <app-observation-detail [code]="selectedObs.code.coding[0].code" [patientId]="patient.id"></app-observation-detail>
  </div>
</ng-template>
<table class="table" >
  <thead>
  <tr>
    <th scope="col" width="20%">Date</th>
    <th scope="col" width="60%">Observation</th>
    <th scope="col">Value</th>
    <th scope="col" width="5%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let observation of observations" >
    <td>
      {{observation.effectiveDateTime | date: 'dd-MMM-yyyy HH:mm'}}
    </td>
    <td>
      <b>{{observation.code.coding[0].display}}</b>
      <span *ngIf="isSNOMED(observation.code.coding[0].system)">
        <a (click)="getSNOMEDLink(observation.code.coding[0])"> <span *ngIf="observation.code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(observation.code.coding[0].system)}} {{observation.code.coding[0].code}}"></span> </a>
      </span>
      <span *ngIf="!isSNOMED(observation.code.coding[0].system)">
        <span *ngIf="observation.code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(observation.code.coding[0].system)}} {{observation.code.coding[0].code}}"></span>
      </span>
      <span *ngIf="observation.category != undefined">
        <i *ngFor="let category of observation.category">{{category.coding[0].display}}</i>
      </span>
      - {{observation.status}}
    </td>
    <td>
      {{getValue(observation)}}
      <span *ngIf="showDetail">
      <a (click)="onClick(modalContent, observation)"> <span *ngIf="observation.code.coding[0].code != undefined" class="badge badge-success" >detail</span></a>
      </span>
    </td>
    <td>
      <a (click)="select(observation)">
        <span class="fa fa-arrow-right"></span>
      </a>
    </td>
  </tr>
  </tbody>
</table>
