<br>
<div *ngIf="composition!=undefined" class="container-fluid">


  <p>{{composition.date | date: 'dd MMM yyyy HH:mm' }}</p>

  <div *ngIf="patient!=undefined && patient.text !=undefined" [innerHTML]="patient.text.div"></div>

  <ul class="list-group">
    <li *ngFor="let section of sections" class="list-group-item ">
      <div  class="flex-column align-items-start list-group-item-action ">
        <app-view-document-section [section] = "section"></app-view-document-section>
      </div>
    </li>
  </ul>
</div>
