<div *ngIf="composition!=undefined" class="container-fluid">

  <div class="alert alert-info">
    <div class="d-flex justify-content-between">
      <div>
    <strong>{{composition.title}}</strong>
  {{composition.date | date: 'dd MMM yyyy HH:mm' }}
      </div>
      <div>

          <button class="btn-info" (click)="downloadPDF()">Export PDF</button>
          <button class="btn-info" (click)="downloadHTML()">Export html</button>
        </div>

    </div>
  </div>
  <div *ngIf="patient!=undefined && patient.text !=undefined" class="card card-default">

      <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
          <h5>Patient</h5>
          <button class="btn-info">View Structured Content</button>
        </div>
      </div>
    <div class="card-body" [innerHTML]="patient.text.div"></div>
  </div>
      <div *ngFor="let section of sections" >
          <app-view-document-section [section] = "section" [structuredText]="getPopover(section)" [structuredTitle]="getPopoverTitle(section)"></app-view-document-section>
      </div>

</div>

