<div class="card card-default">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <h5>{{section.title}}</h5>

      <ng-template #modalContent let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4>{{section.code.coding[0].display}}</h4>


            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div class="modal-body">
               SNOMED CT Code <a href="{{getSNOMEDLink(section.code.coding[0].code)}}">{{section.code.coding[0].code}}</a>
  <br><br>
            <div *ngIf="section.entry != undefined">
              References {{section.entry.length}} entries
              <br><br>
              <table >
                <div *ngFor="let ent of entries" >
                  <tr>
                    <td>{{ent.resource}}</td>

                    <td *ngIf="ent.code!=undefined" [ngSwitch]="ent.resource">
                      <span *ngIf="isSNOMED(ent.code)">
                        <span *ngSwitchCase="'Medication'"><a href="{{getDMDLink(ent.code)}}" target="_blank">dm+d</a> <a href="{{getSNOMEDLink(ent.code)}}" target="_blank">SCT</a></span>
                        <span *ngSwitchCase="'MedicationRequest'"><a href="{{getDMDLink(ent.code)}}" target="_blank">dm+d</a> <a href="{{getSNOMEDLink(ent.code)}}" target="_blank">SCT</a></span>
                        <span *ngSwitchDefault><a href="{{getSNOMEDLink(ent.code)}}" target="_blank">SCT</a></span>
                      </span>
                      <span *ngIf="!isSNOMED(ent.code)">
                        code=<i>{{ent.code}}</i>
                      </span>
                    </td>
                    <td *ngIf="ent.code==undefined"></td>


                    <td *ngIf="ent.display!=undefined">
                     {{ent.display}}</td>
                    <td *ngIf="ent.display==undefined">
                    </td>

                  </tr>
                </div>
             </table>
              <span *ngIf="medicationStatements.length>0">
               <app-medication-statement [medicationStatements]="medicationStatements"></app-medication-statement>
              </span>
              <span *ngIf="conditions.length>0">
               <app-condition [conditions]="conditions"></app-condition>
              </span>
              <span *ngIf="procedures.length>0">
               <app-procedure [procedures]="procedures"></app-procedure>
              </span>
              <span *ngIf="observations.length>0">
               <app-observation [observations]="observations"></app-observation>
              </span>
              <span *ngIf="encounters.length>0">
               <app-encounter [encounters]="encounters"></app-encounter>
              </span>
              <span *ngIf="allergies.length>0">
               <app-allergy-intollerance [allergies]="allergies"></app-allergy-intollerance>
              </span>
            </div>
            <div *ngIf="section.entry == undefined">
              No structured content referenced
            </div>
          </div>

        </ng-template>

      <button class="btn-info"  placement="top" (click)="open(modalContent)">
        View Structured Content</button>
    </div>
  </div>
  <div class="card-body" >
    <div [innerHTML]="section.text.div"></div>
  </div>
</div>
