<ng-template id="modalWait" #modalWait let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Testing</h4>
  </div>
  <div class="modal-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
  </div>
</ng-template>

<ng-template id="modalError" #modalError let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Error</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="progress">
      Oooops.
    </div>
  </div>
</ng-template>
<form [formGroup]="testForm"  >

    <div class="form-group">
      <label for="fileName1">Select file to check</label>
      <input type="file" id="fileName1" name="fileName1" class="form-control-file" (change)="fileChange($event)" placeholder="Upload file" accept=".json,.xml" [formControl]="validationForm.controls['fileName']">
    </div>
    <div *ngIf="fileName.invalid && (fileName.dirty)"
         class="alert alert-danger">
      No file specified
    </div>



  <br>
  <button type="submit" (click)="onSubmitClick(modalWait, modalError)" class="btn btn-primary ui button">Submit</button>

</form>
<br>
<br>
<div class="container-fluid">
<div class="row">
  <div *ngIf="resJson!=undefined" class="col-md-12">
    <div class="btn-group btn-group-toggle">
      <label class="btn-outline-secondary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.error"> Error
      </label>
      <label class="btn-outline-secondary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.warning"> Warning
      </label>
      <label class="btn-outline-secondary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.information"> Information
      </label>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col" width="10%">Severity</th>
        <th scope="col" width="35%">Resource</th>
        <th scope="col" width="55%">Diagnositc</th>
      </tr>
      </thead>

        <tr  *ngFor="let issue of resJson.issue | testFilter : model.error : model.warning : model.information " >
              <td>{{issue.severity}}</td>
              <td><span *ngFor="let location of issue.location">{{location}}</span></td>
              <td>{{issue.diagnostics}}</td>
        </tr>

    </table>
  </div>
</div>
</div>


<!-- <app-load-file></app-load-file> -->
