<div class="container-fluid">
<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">

  <div  ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-book" aria-hidden="false"></i> FHIR DMS</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" routerLink="/find"><i aria-hidden="false"></i> Find Patient</button>
      <button class="dropdown-item" routerLink="/open" ><i aria-hidden="false"></i> Open FHIR Document</button>
    </div>
  </div>
<!--
  <div  ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-secondary" id="dropdownBasic2" ngbDropdownToggle><i class="fa fa-hospital-o" aria-hidden="false"></i> EPR (CCRI)</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" routerLink="/findEPR"><i aria-hidden="false"></i> Find Patient</button>
    </div>
  </div>
  -->
  <!--
  <div  ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-secondary" id="dropdown3" ngbDropdownToggle><i class="fa fa-check" aria-hidden="false"></i> Validation</button>
    <div ngbDropdownMenu aria-labelledby="dropdown3">
      <button class="dropdown-item" routerLink="/load" ><i aria-hidden="false"></i> Open FHIR Resource/Bundle</button>
    </div>
  </div> -->
</nav>
</div>

<router-outlet></router-outlet>
