<mat-card>
  <mat-card-header class="d-flex justify-content-between">

    <mat-card-title>
      <b>
      <div *ngIf="document.description!=undefined">{{document.description}}</div>
      <div *ngIf="document.description==undefined && document.type !=undefined" >{{document.type.coding[0].display}}</div>
      </b>
    </mat-card-title>
      <div><b>{{document.created | date: 'dd MMM yyyy HH:mm'}}</b></div>

  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-sm">
        <div *ngIf="document.description!=undefined && document.type != undefined" class="card-title">{{document.type.coding[0].display}}</div>
        <div *ngIf="document.context != undefined">Specialty : {{getService()}}</div>
      </div>
      <div class="col-sm">
        <div>Status: {{document.status}}</div>
      </div>
      <div class="col-sm">
        <span *ngIf="document.content != undefined" class="badge badge-info">{{document.content[0].attachment.contentType}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">

        <div *ngFor="let author of document.author">
          <div>Author: {{author.display}}</div>
        </div>

      </div>
      <div class="col-sm">
        <div *ngIf="document.custodian!=undefined">Custodian : {{document.custodian.display}}</div>
      </div>
      <div class="col-sm">

      </div>
    </div>



  </mat-card-content>
</mat-card>
