<table class="table">
  <thead>
  <tr>
    <th scope="col" width="35%">Date</th>
    <th scope="col" width="60%">Condition</th>
    <th scope="col" width="5%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let condition of conditions">
    <td>
      <span *ngIf="condition.assertedDate !== undefined"> <span class="badge badge-light" >asserted</span>{{condition.assertedDate | date: 'dd-MMM-yyyy'}}</span>

      <span *ngIf="condition.onsetDateTime !== undefined"><span class="badge badge-light" >onset</span>{{condition.onsetDateTime | date: 'dd-MMM-yyyy'}}</span>
    </td>
    <td>
      <b>{{condition.code.coding[0].display}}</b>
      <span *ngIf="isSNOMED(condition.code.coding[0].system)">
        <a (click)="getSNOMEDLink(condition.code.coding[0])"> <span *ngIf="condition.code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(condition.code.coding[0].system)}} {{condition.code.coding[0].code}}"></span> </a>
      </span>
      <span *ngIf="!isSNOMED(condition.code.coding[0].system)">
        <span *ngIf="condition.code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(condition.code.coding[0].system)}} {{condition.code.coding[0].code}}"></span>
      </span>

      <span *ngIf="condition.category != undefined && condition.category[0].coding != undefined">
        <span class="badge badge-light" >category</span>
        <b><i>{{condition.category[0].coding[0].display}}</i></b>
        <span *ngIf="isSNOMED(condition.category[0].coding[0].system)">
          <a (click)="getSNOMEDLink(condition.category[0].coding[0])"> <span *ngIf="condition.category[0].coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(condition.code.coding[0].system)}} {{condition.category[0].coding[0].code}}"></span> </a>
        </span>
        <span *ngIf="!isSNOMED(condition.category[0].coding[0].system)">
          <span *ngIf="condition.category[0].coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(condition.category[0].coding[0].system)}} {{condition.category[0].coding[0].code}}"></span>
        </span>

      </span>

      <span *ngIf="condition.clinicalStatus!=undefined">
        <span class="badge badge-light" >clinicalStatus</span>
        <i>{{condition.clinicalStatus}}</i>
      </span>
      <span *ngIf="condition.verificationStatus!=undefined">
        <span class="badge badge-light" >verification</span>
        <i>{{condition.verificationStatus}}</i>
      </span>

    </td>
    <td>
       <button mat-raised-button  placement="top" (click)="select(condition)"><mat-icon>code</mat-icon></button>
    </td>
  </tr>
  </tbody>
</table>

