<table class="table">
  <thead>
  <tr>
    <th scope="col" width="30%">Date</th>
    <th scope="col" width="60%">Condition</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let condition of conditions">
    <td>
      {{condition.assertedDate | date: 'dd-MMM-yyyy'}}

      {{condition.onsetDateTime | date: 'dd-MMM-yyyy'}}
    </td>
    <td>
      <b>{{condition.code.coding[0].display}}</b>
      <span *ngIf="isSNOMED(condition.code.coding[0].system)">
        <a (click)="getSNOMEDLink(condition.code.coding[0])"> <span *ngIf="condition.code.coding[0].code != undefined" class="badge badge-info" ngbTooltip="{{getCodeSystem(condition.code.coding[0].system)}} {{condition.code.coding[0].code}}">code</span> </a>
      </span>
      <span *ngIf="!isSNOMED(condition.code.coding[0].system)">
        <span *ngIf="condition.code.coding[0].code != undefined" class="badge badge-info" ngbTooltip="{{getCodeSystem(condition.code.coding[0].system)}} {{condition.code.coding[0].code}}">code</span>
      </span>
      <i *ngIf="condition.clinicalStatus!=undefined">{{condition.clinicalStatus}}</i>
      <i *ngIf="condition.verificationStatus!=undefined">{{condition.verificationStatus}}</i>
    </td>

  </tr>
  </tbody>
</table>

