<div class="card card-default">
  <div class="card-header d-flex w-100 justify-content-between">
    <div>
    {{ getFirstName() }}
    </div>
    <div>NHS Number: {{ getNHSIdentifier() }}</div>
  </div>
  <div class="card-body">
    <div ng-if="patient" class="d-flex w-100 justify-content-between">
      <small *ngIf="patient.telecom"><i class="fa fa-phone" aria-hidden="true"></i> {{ getFirstTelecom() }} </small>
      <small> {{ patient.gender }}</small>
    </div>
    <div  class="d-flex w-100 justify-content-between">
      <small>{{ getFirstAddress() }} </small>
      <small>Date of Birth: {{patient.birthDate | date: 'dd/MM/yyyy'}}</small>
    </div>
  </div>
</div>
