<ng-template id="modalIssue" #modalIssue let-c="close" let-d="dismiss">
  <div class="modal-header">

    <h4>Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
    <div *ngIf="response != undefined">
          <div class="card-body">
            <div *ngFor="let issue of response.issue">
              <div>{{issue.diagnostics}}</div>
            </div>
          </div>
    </div>
  </div>
</ng-template>

<ng-template id="modalDuplicate" #modalDuplicate let-c="close" let-d="dismiss">
  <div class="modal-header">

    <h4>Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
The document already exists on the system. Do you wish to replace?
    <br>
    <br>
    <button (click)="onReplaceClick(modalIssue)" class="btn btn-warning">Yes</button> <button (click)="onNoClick(modalIssue)" class="btn btn-primary">No</button>
  </div>
</ng-template>

<ng-template #modalOrg let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Find Organisation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-organisation-search (organisationSelected)="closeOrg($event)"> </app-organisation-search>
  </div>
</ng-template>

<ng-template #modalPrac let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Find Practitioner</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-practitioner-search (practitionerSelected)="closePrac($event)"></app-practitioner-search>
  </div>
</ng-template>

<ng-template #modalPat let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Select Patient</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-patient-search (patientSelected)="closePat($event)"></app-patient-search>
  </div>
</ng-template>

<form [formGroup]="documentForm"  >
  <span *ngIf="auth.permission == undefined || (auth.permission.eprUser == undefined || !auth.permission.eprUser)">
    <div class="form-group">
      <label for="fileName1">Select file to upload</label>
      <input type="file" id="fileName1" name="fileName1" class="form-control-file" (change)="fileChange($event)" placeholder="Upload file" accept=".json,.xml" [formControl]="documentForm.controls['fileName']">
    </div>
    <div *ngIf="fileName.invalid && (fileName.dirty)"
         class="alert alert-danger">
      No file specified
    </div>


  </span>
  <span *ngIf="auth.permission != undefined && auth.permission.eprUser != undefined && auth.permission.eprUser">
    <div class="form-group">
      <label for="fileName2">Select file to upload</label>
      <input type="file" id="fileName2" name="fileName2" class="form-control-file" (change)="fileChange($event)" placeholder="Upload file" accept=".json,.xml,.pdf,.doc,.docx,.jpg,.html" [formControl]="documentForm.controls['fileName']" formControlName="fileName">
      <div *ngIf="fileName.invalid && (fileName.dirty)"
      class="alert alert-danger">
       No file specified
       </div>
    </div>
      <span *ngIf="notFhir">
        <div class="form-group">
          <label for="docdate">Document Creation Date</label>
          <input class="input-lg" type="date" id="docdate" name="docdate" max="2030-12-31"
                 min="1900-01-01" [formControl]="documentForm.controls['created']" >
        </div>


        <div *ngIf="eprService.patient" >
          <app-patient-item [patient]="eprService.patient" [detail]="true"></app-patient-item>
          <br>
          <br>
        </div>
         <div *ngIf="eprService.patient == undefined" >
           <button for="subject" (click)="onModalClick(modalPat)" class="btn btn-secondary" name="btnPat">Subject (Patient)</button>
           <span *ngIf="document != undefined && document.patient != undefined">
             <br><br>
             <input class="form-control" type="text" id="subject" name="subject" [formControl]="documentForm.controls['subject']" [(ngModel)]="document.patientName" >
          </span>
           <br>
           <br>
        </div>
          <div>
          <button (click)="onModalClick(modalPrac)" class="btn btn-secondary">Author (Practitioner)</button>
          <span *ngIf="document != undefined && document.practitioner != undefined">
             <br><br>
             <input class="form-control" type="text" id="author" name="author" [formControl]="documentForm.controls['author']" [(ngModel)]="document.practitionerName" >
          </span>
          <br>
          <br>
        </div>
        <div>
          <button (click)="onModalClick(modalOrg)" class="btn btn-secondary">Custodian (Organisation)</button>
         <span *ngIf="document != undefined && document.organisation != undefined">
             <br><br>
             <input class="form-control" type="text" id="custodian" name="custodian" [formControl]="documentForm.controls['custodian']" [(ngModel)]="document.organisation.name" >
          </span>
          <br>
          <br>
        </div>



        <div class="form-group">
          <label for="type">Document Type</label>
          <select name="type" id="type" class="custom-select" [formControl]="documentForm.controls['type']" >

            <option value="1">Mental Health Plan</option>
            <option value="2">Discharge Letter</option>
            <option value="3">Outpatient Letter</option>
          </select>
          <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
        <div class="form-group">
          <label for="speciality">Speciality</label>
          <select name="speciality" id="speciality" class="custom-select" [formControl]="documentForm.controls['speciality']" >

            <option value="1">Mental Health</option>
            <option value="2">Emergency</option>
            <option value="3">Outpatient Letter</option>
          </select>
          <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
        <div class="form-group">
          <label for="service">Service</label>
          <select name="service" id="service" class="custom-select" [formControl]="documentForm.controls['service']">

            <option value="1">Mental Health</option>
            <option value="2">Emergency</option>
            <option value="3">Outpatient Letter</option>
          </select>
          <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
      </span>
    </span>

  <br>
  <button type="submit" (click)="onSubmitClick()" class="btn btn-primary ui button">Submit</button>
  <!-- <button  (click)="onCheckClick(modalIssue)"  class="btn btn-primary ui button">Check</button> -->
</form>


