<ng-template id="modalIssue" #modalIssue let-c="close" let-d="dismiss">
  <div class="modal-header">

    <h4>Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
    <div *ngIf="response != undefined">
          <div class="card-body">
            <div *ngFor="let issue of response.issue">
              <div>{{issue.diagnostics}}</div>
            </div>
          </div>
    </div>
  </div>
</ng-template>

<ng-template id="modalDuplicate" #modalDuplicate let-c="close" let-d="dismiss">
  <div class="modal-header">

    <h4>Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
The document already exists on the system. Do you wish to replace?
    <br>
    <br>
    <button (click)="onReplaceClick(modalIssue)" class="btn btn-warning">Yes</button> <button (click)="onNoClick(modalIssue)" class="btn btn-primary">No</button>
  </div>
</ng-template>

<mat-card>
  <mat-card-title>Import Document</mat-card-title>
  <mat-card-content>
<form [formGroup]="documentForm"  >
  <!--
  <span *ngIf="auth.permission == undefined || (auth.permission.eprUser == undefined || !auth.permission.eprUser)">
    <div class="form-group">
      <label for="fileName1">Select file to upload</label>
      <input type="file" id="fileName1" name="fileName1" class="form-control-file" (change)="fileChange($event)" placeholder="Upload file" accept=".json,.xml" [formControl]="documentForm.controls['fileName']">
    </div>
    <div *ngIf="fileName.invalid && (fileName.dirty)"
         class="alert alert-danger">
      No file specified
    </div>


  </span> -->
  <span >
    <div>

      <input type="file" id="fileName2" name="fileName2" class="ng-hide" (change)="fileChange($event)" placeholder="Upload file" accept=".json,.xml,.pdf,.doc,.docx,.jpg,.html" [formControl]="documentForm.controls['fileName']" formControlName="fileName">
     <!-- <label for="fileName2" class="md-button md-raised md-primary">Choose files</label> -->
      <div *ngIf="fileName.invalid && (fileName.dirty)"
      class="alert alert-danger">
       No file specified
       </div>
    </div>
      <span *ngIf="notFhir">


        <div *ngIf="eprService.patient" >
          <app-patient [patient]="eprService.patient" [detail]="true"></app-patient>
          <br>
          <br>
        </div>
         <div *ngIf="eprService.patient == undefined" >
           <!-- <button for="subject" (click)="onModalClick(modalPat)" class="btn btn-secondary" name="btnPat">Subject (Patient)</button> -->
           <app-patient-search (patientSelected)="closePat($event)"></app-patient-search>
           <span *ngIf="document != undefined && document.patient != undefined">

             <!-- <input class="form-control" type="text" id="subject" name="subject" [formControl]="documentForm.controls['subject']" [(ngModel)]="document.patientName" > -->
             <app-patient [patient]="document.patient" [detail]="false"></app-patient>
          </span>
           <br>
           <br>
        </div>
          <div>
          <!-- <button (click)="onModalClick(modalPrac)" class="btn btn-secondary">Author (Practitioner)</button> -->
          <app-practitioner-search (practitionerSelected)="closePrac($event)"></app-practitioner-search>
          <span *ngIf="document != undefined && document.practitioner != undefined">

            <!-- <input class="form-control" type="text" id="author" name="author" [formControl]="documentForm.controls['author']" [(ngModel)]="document.practitionerName" > -->
            <app-practitioner [practitioner]="document.practitioner"></app-practitioner>
          </span>
          <br>
          <br>
        </div>
        <div>
          <!-- <button (click)="onModalClick(modalOrg)" class="btn btn-secondary">Custodian (Organisation)</button> -->
          <app-organisation-search (organisationSelected)="closeOrg($event)"> </app-organisation-search>
         <span *ngIf="document != undefined && document.organisation != undefined">

             <!-- <input class="form-control" type="text" id="custodian" name="custodian" [formControl]="documentForm.controls['custodian']" [(ngModel)]="document.organisation.name" > -->
             <app-organisation [organisation]="document.organisation"></app-organisation>
          </span>
          <br>
          <br>
        </div>

        <div>

            <mat-form-field class="input-half-width">
              <input #docCreated class="input-lg" matInput [matDatepicker]="picker" placeholder="Document Creation Date" id="docdate" name="docdate" max="2030-12-31"
                     min="1900-01-01" [formControl]="documentForm.controls['created']" [(ngModel)]="document.docDate" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </mat-form-field>
        </div>
        <div>
        <mat-form-field class="input-half-width">

            <mat-select name="type" placeholder="Document Type" id="type" [formControl]="documentForm.controls['type']" (ngModelChange)="specialityChanged($event)" [(ngModel)]="document.type" >
                <mat-option *ngFor="let docType of documentType.compose.include[0].concept" [value]="docType.code">
                {{ docType.display}}
              </mat-option>
            </mat-select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input-half-width">
            <mat-select name="speciality" placeholder="Speciality" id="speciality"  [formControl]="documentForm.controls['speciality']" (ngModelChange)="specialityChanged($event)" [(ngModel)]="document.speciality">
              <mat-option *ngFor="let docSpec of practiceSettings.compose.include[0].concept" [value]="docSpec.code">
                {{ docSpec.display}}
              </mat-option>

            </mat-select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </mat-form-field>
          </div>
        <div>
           <mat-form-field class="input-half-width">

              <mat-select name="service" placeholder="Service" id="service"  [formControl]="documentForm.controls['service']" (ngModelChange)="specialityChanged($event)" [(ngModel)]="document.service">
                <mat-option *ngFor="let docService of facilityCodes.compose.include[0].concept" [value]="docService.code">
                  {{ docService.display}}
                </mat-option>
              </mat-select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
           </mat-form-field>
          </div>
      </span>
    </span>

  <br>
  <button mat-raised-button type="submit" (click)="onSubmitClick()" color="primary" >Submit</button>
  <!-- <button  (click)="onCheckClick(modalIssue)"  class="btn btn-primary ui button">Check</button> -->
</form>
  </mat-card-content>
</mat-card>

