<ng-template #modalOrg let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Find Organisation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-organisation-search (organisationSelected)="closeOrg($event)"> </app-organisation-search>
  </div>
</ng-template>
<ng-template #modalPrac let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Find Practitioner</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-practitioner-search (practitionerSelected)="closePrac($event)"></app-practitioner-search>
  </div>
</ng-template>
<ng-template #modalPat let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Select Patient</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-patient-search (practitionerSelected)="closePat($event)"></app-patient-search>
  </div>
</ng-template>

<form>
  <span *ngIf="auth.permission == undefined || (auth.permission.eprUser == undefined || !auth.permission.eprUser)">
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input type="file" id="exampleFormControlFile1" class="form-control-file" (change)="fileChange($event)" placeholder="Upload file" accept=".json,.xml">
    </div>
  </span>
  <span *ngIf="auth.permission != undefined && auth.permission.eprUser != undefined && auth.permission.eprUser">
    <div class="form-group">
      <label for="exampleFormControlFile2">Example file input</label>
      <input type="file" id="exampleFormControlFile2" class="form-control-file" (change)="fileChange($event)" placeholder="Upload file" accept=".json,.xml,.pdf,.doc,.docx,.jpg,.html">
    </div>
      <span *ngIf="notFhir">
        <div class="form-group">
          <label >Date</label>
          <input type="date" name="bday" max="3000-12-31"
                 min="1000-01-01" class="form-control">
        </div>
        <div *ngIf="eprService.patient" >
          <app-patient-item [patient]="eprService.patient" [detail]="true"></app-patient-item>
          <br>
          <br>
        </div>
         <div *ngIf="eprService.patient == undefined" >
           <button (click)="onModalClick(modalPat)" class="btn">Patient</button>
           <app-patient-item [patient]="patient" [detail]="true"></app-patient-item>
           <br>
           <br>
        </div>
        <div>
          <button (click)="onModalClick(modalOrg)" class="btn">Organisation</button>
          <app-organisation [organisation]="organisation"></app-organisation>
          <br>
          <br>
        </div>

        <div>
          <button (click)="onModalClick(modalPrac)" class="btn">Practitioner</button>
          <app-practitioner [practitioner]="practitioner"></app-practitioner>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label for="exampleFormControlPick1">Document Type</label>
          <select id="exampleFormControlPick1" class="custom-select" required>
            <option value=""></option>
            <option value="1">Mental Health Plan</option>
            <option value="2">Discharge Letter</option>
            <option value="3">Outpatient Letter</option>
          </select>
          <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlPick2">Specialty</label>
          <select id="exampleFormControlPick2" class="custom-select" required>
            <option value=""></option>
            <option value="1">Mental Health</option>
            <option value="2">Emergency</option>
            <option value="3">Outpatient Letter</option>
          </select>
          <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlPick3">Service</label>
          <select id="exampleFormControlPick3" class="custom-select" required>
            <option value=""></option>
            <option value="1">Mental Health</option>
            <option value="2">Emergency</option>
            <option value="3">Outpatient Letter</option>
          </select>
          <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
      </span>
    </span>
  <!--
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Replace document if it exists.</label>
  </div> -->
  <br>
  <button type="submit" (click)="onClick()" class="btn btn-primary">Submit</button>
</form>
<br>
<br>
<div class="row">
  <div *ngIf="response != undefined">
  <div class="col-md-12">
    <div class="card card-default">
      <div class="card-heading">Response</div>
      <div class="card-body">
          <div *ngFor="let issue of response.issue">
            <div>{{issue.diagnostics}}</div>
          </div>
      </div>
    </div>
  </div>
  </div>
</div>


