<table class="table">
  <thead>
  <tr>
    <th scope="col" width="50%">Medication</th>
    <th scope="col">Status</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medication of medications">
    <td>

      <div *ngIf="medication.code !=undefined" ngbTooltip="{{getCodeSystem(medication.code.coding[0].system)}} {{medication.code.coding[0].code}}">
        <b *ngIf="medication.code !=undefined">{{medication.code.coding[0].display}}</b>
        <a (click)="getSNOMEDLink(medication.code.coding[0])"><span class="badge badge-info">NHSD SNOMED CT</span></a>
        <a (click)="getDMDLink(medication.code.coding[0])"><span class="badge badge-info">dm+d</span></a>
      </div>
    </td>
    <td>
      {{medication.status}}
    </td>
  </tr>
  </tbody>
</table>
