<table class="table">
  <thead>
  <tr>
    <th scope="col" width="30%">Date</th>
    <th scope="col" width="60%">Allergy</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let allergy of allergies">
    <td>
      {{allergy.assertedDate | date: 'dd-MMM-yyyy'}}

      {{allergy.onsetDateTime | date: 'dd-MMM-yyyy'}}
    </td>
    <td>
      <div *ngFor="let reaction of allergy.reaction">
        <a *ngIf="reaction.substance != undefined>0" (click)="getSNOMEDLink(reaction.substance.coding[0].code)">
          <b>{{reaction.substance.coding[0].display}}</b>
        </a>
        <span *ngFor="let manifestation of reaction.manifestation">
          <a (click)="getSNOMEDLink(manifestation.coding[0].code)">
            {{manifestation.coding[0].display}}
          </a>
        </span>
      </div>
      <i *ngIf="allergy.clinicalStatus!=undefined">{{allergy.clinicalStatus}}</i>
      <i *ngIf="allergy.verificationStatus!=undefined">{{allergy.verificationStatus}}</i>
    </td>

  </tr>
  </tbody>
</table>
