<ngb-tabset #tabs>
  <ngb-tab id="tab-selectbyid1" title="Summary Record">
    <ng-template ngbTabContent>
    <div *ngIf="composition != undefined">

      <app-view-document [systemType]="'EPR'" [document]="composition"></app-view-document>
    </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-selectbyid2" title="Encounters">
    <ng-template ngbTabContent>
      <div class="">
        <h5>Encounters</h5>
        <div *ngFor="let encounter of encounters">
          <a (click)="selectEncounter(encounter)">
            <app-patient-epr-encounter [encounter]="encounter"></app-patient-epr-encounter>
          </a>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-encounterdoc" title="Encounter">
    <ng-template ngbTabContent>
      <div *ngIf="encounterdoc != undefined">

        <app-view-document [systemType]="'EPR'" [document]="encounterdoc"></app-view-document>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>


