
<ngb-tabset #tabs type="pills">
  <!-- Needs a summary care record endpoint ... a getall operation
  <ngb-tab id="tab-selectbyid1">
    <ng-template ngbTabTitle><b>Summary</b></ng-template>
    <ng-template ngbTabContent>
    <div *ngIf="composition != undefined">

      <app-view-document [systemType]="'EPR'" [document]="composition"></app-view-document>
    </div>
    </ng-template>
  </ngb-tab>
  -->
  <ngb-tab  id="tab-conditions" >
    <ng-template ngbTabTitle><b>Summary</b></ng-template>
    <ng-template ngbTabContent>
      <br>
      <b>Conditions</b>
        <app-epr-condition [conditions]="conditions" [conditionTotal]="conditionTotal"></app-epr-condition>
      <br>
      <b>Allergies</b>
      <app-epr-allergy-intollerance [allergies]="allergies" [allergiesTotal]="allergiesTotal"></app-epr-allergy-intollerance>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-selectbyid2" >
    <ng-template ngbTabTitle><b>Encounters</b></ng-template>
    <ng-template ngbTabContent>
      <br>
     <app-timeline-graph id="visualisationtg"></app-timeline-graph>
      <form class="form-inline">
        <div class="form-row">
          <div class="form-group col-6">

            <input id="date1" class="form-control form-control-sm" placeholder="From"
                   name="dpFm" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-sm"  (click)="d.toggle()" type="button">
                <img src="assets/img/calendar-icon.svg" style="width: 0.8rem; height: 0.8rem; cursor: pointer;"/>
              </button>
            </div>
          </div>
          <div class="form-group col-6">
            <input id="date2" class="form-control form-control-sm" placeholder="To"
                   name="dpFm" ngbDatepicker #e="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-sm" (click)="e.toggle()" type="button">
                <img src="assets/img/calendar-icon.svg" style="width: 0.8rem; height: 0.8rem; cursor: pointer;"/>
              </button>
            </div>
          </div>


        </div>
      </form>
      <br>
      <table class="table">
        <thead>
        <tr>
          <th scope="col" width="30%">Date</th>
          <th scope="col" width="60%">Encounter</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let encounter of encounters" >
          <td >
            <a (click)="selectEncounter(encounter)">
              {{encounter.period.start | date: 'dd-MMM-yyyy HH:mm'}}
            </a>
          </td>
          <td >
             <span *ngIf="encounter.type != undefined && encounter.type.length>0 && encounter.type[0].coding.length >0">
                  <b>{{encounter.type[0].coding[0].display}}</b>
                  <span *ngIf="isSNOMED(encounter.type[0].coding[0].system)">
                    <a (click)="getSNOMEDLink(encounter.type[0].coding[0])"><span *ngIf="encounter.type[0].coding[0].code != undefined" class="badge badge-info" ngbTooltip="{{getCodeSystem(encounter.type[0].coding[0].system)}} {{encounter.type[0].coding[0].code}}">code</span> </a>
                  </span>
                  <span *ngIf="!isSNOMED(encounter.type[0].coding[0].system)">
                    <span *ngIf="encounter.type[0].coding[0].code != undefined" class="badge badge-info" ngbTooltip="{{getCodeSystem(encounter.type[0].coding[0].system)}} {{encounter.type[0].coding[0].code}}">code</span>
                  </span>
             </span>

            <span *ngFor="let participant of encounter.participant">
                <span *ngIf="participant.individual != undefined"><i>{{participant.individual.display}}</i></span>
              </span>
            <span *ngIf="encounter.serviceProvider!=undefined"> {{encounter.serviceProvider.display}}</span>

          </td>
          <td><a (click)="selectEncounter(encounter)"> <span class="badge badge-success">view consultation</span></a> </td>
        </tr>
        </tbody>
      </table>
      <div class="form-group col-2">
        <ngb-pagination [collectionSize]="encTotal" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab  id="tab-procedures" >
    <ng-template ngbTabTitle><b>Procedures</b></ng-template>
    <ng-template ngbTabContent>
      <app-epr-procedure [procedures]="procedures" [procTotal]="procTotal"></app-epr-procedure>
    </ng-template>
  </ngb-tab>
  <ngb-tab  id="tab-documents" >
    <ng-template ngbTabTitle><b>Documents</b></ng-template>
    <ng-template ngbTabContent>
      <app-epr-document-reference [documents]="documents" [documentsTotal]="documentsTotal"></app-epr-document-reference>
    </ng-template>
  </ngb-tab>
  <ngb-tab  id="tab-observations" >
    <ng-template ngbTabTitle><b>Observations</b></ng-template>
    <ng-template ngbTabContent>
      <app-epr-observation [patient]="patient" [observations]="observations" [obsTotal]="obsTotal"></app-epr-observation>
    </ng-template>
  </ngb-tab>
  <ngb-tab  id="tab-immunisation" >
    <ng-template ngbTabTitle><b>Immunisation</b></ng-template>
    <ng-template ngbTabContent>
      <app-epr-immunisation [immunisations]="immunisations" [immsTotal]="immsTotal"></app-epr-immunisation>
    </ng-template>
  </ngb-tab>
  <ngb-tab  id="tab-prescriptions">
    <ng-template ngbTabTitle><b>Prescriptions</b></ng-template>
    <ng-template ngbTabContent>
      <app-epr-prescription [prescriptions]="prescriptions" [presTotal]="presTotal"></app-epr-prescription>
    </ng-template>
  </ngb-tab>


  <ngb-tab [disabled]="!encounterEnabled" id="tab-encounterdoc" >
    <ng-template ngbTabTitle><b>Consultation</b> {{encounterDate | date: 'dd-MMM-yyyy HH:mm' }}</ng-template>
    <ng-template ngbTabContent>
      <div *ngIf="encounterdoc != undefined">

        <br>
        <app-view-document [systemType]="'EPR'" [document]="encounterdoc"></app-view-document>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>


