<table class="table" >
  <thead>
  <tr>
    <th scope="col" width="20%">Date</th>
    <th scope="col" width="40%">Observation</th>
    <th scope="col">Value</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let observation of observations" >
    <td>
      {{observation.effectiveDateTime | date: 'dd-MMM-yyyy HH:mm'}}
    </td>
    <td>
      <a (click)="getSNOMEDLink(observation.code.coding[0].code)"> <b>{{observation.code.coding[0].display}}</b></a>
    </td>
    <td>
      {{getValue(observation)}}
    </td>

  </tr>
  </tbody>
</table>
