<ng-template id="modalWait" #modalWait let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Loading</h4>
  </div>
  <div class="modal-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
  </div>
</ng-template>

<ng-template id="modalIssue" #modalIssue let-c="close" let-d="dismiss">
  <div class="modal-header">

    <h4>Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      Unable to Load document.
    </div>
  </div>
</ng-template>
<mat-card>
  <mat-card-title>Image Viewer</mat-card-title>
  <mat-card-content>
<ngx-imageviewer [src]="imgSrc" ></ngx-imageviewer>
  </mat-card-content>
</mat-card>
