<table class="table">
  <thead>
  <tr>
    <th scope="col" width="30%">Date</th>
    <th scope="col" width="60%">Allergy</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let allergy of allergies">
    <td>
      {{allergy.assertedDate | date: 'dd-MMM-yyyy'}}

      {{allergy.onsetDateTime | date: 'dd-MMM-yyyy'}}
    </td>
    <td>
      <div *ngFor="let reaction of allergy.reaction">
        <span *ngIf="reaction.substance != undefined">
          <b>{{reaction.substance.coding[0].display}}</b>
          <a (click)="getSNOMEDLink(reaction.substance.coding[0])"> <span class="badge badge-info" ngbTooltip="{{getCodeSystem(reaction.substance.coding[0].system)}} {{reaction.substance.coding[0].code}}">code</span> </a>
        </span>
        <span *ngFor="let manifestation of reaction.manifestation">
          {{manifestation.coding[0].display}}
          <a (click)="getSNOMEDLink(manifestation.coding[0])">
            <span class="badge badge-info" ngbTooltip="{{getCodeSystem(manifestation.coding[0].system)}} {{manifestation.coding[0].code}}">code</span>
          </a>
        </span>
      </div>
      <i *ngIf="allergy.clinicalStatus!=undefined">{{allergy.clinicalStatus}}</i>
      <i *ngIf="allergy.verificationStatus!=undefined">{{allergy.verificationStatus}}</i>
    </td>

  </tr>
  </tbody>
</table>
