<table class="table">
  <thead>
  <tr>
    <th scope="col" width="30%">Date</th>
    <th scope="col" width="60%">Allergy</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let allergy of allergies">
    <td>
      {{allergy.assertedDate | date: 'dd-MMM-yyyy'}}

      {{allergy.onsetDateTime | date: 'dd-MMM-yyyy'}}
    </td>
    <td>
      <span *ngIf="allergy.code !=undefined">

        <a (click)="getSNOMEDLink(allergy.code.coding[0])"> <span class="fa fa-book" ngbTooltip="{{getCodeSystem(allergy.code.coding[0].system)}} {{allergy.code.coding[0].code}}"></span> </a>
         <b>{{allergy.code.coding[0].display}}</b>
      </span>
      <span *ngFor="let reaction of allergy.reaction">
        <span *ngIf="reaction.substance != undefined">

          <a (click)="getSNOMEDLink(reaction.substance.coding[0])"> <span class="badge badge-info" ngbTooltip="{{getCodeSystem(reaction.substance.coding[0].system)}} {{reaction.substance.coding[0].code}}">reaction</span> </a>
          <b>{{reaction.substance.coding[0].display}}</b>
        </span>
         <span *ngIf="reaction.severity != undefined">

          <a (click)="getSNOMEDLink(reaction.severity)"> <span class="badge badge-info" ngbTooltip="{{getCodeSystem(reaction.severity.system)}} {{reaction.severity.code}}">severity</span> </a>
           <b>{{reaction.severity.display }}</b>
        </span>
        <span *ngFor="let manifestation of reaction.manifestation">

          <a (click)="getSNOMEDLink(manifestation.coding[0])">
            <span class="badge badge-light" ngbTooltip="{{getCodeSystem(manifestation.coding[0].system)}} {{manifestation.coding[0].code}}">manifestation</span>
          </a>
          {{manifestation.coding[0].display}}
        </span>
      </span>
      <i *ngIf="allergy.clinicalStatus!=undefined">{{allergy.clinicalStatus}}</i>
      <span *ngIf="allergy.verificationStatus!=undefined">
        <span class="badge badge-light" ngbTooltip="FHIR VerificationStatus: {{allergy.verificationStatus}}">verification</span>
        <i>{{allergy.verificationStatus}}</i>
      </span>
    </td>

  </tr>
  </tbody>
</table>
