
<td-layout>
  <td-navigation-drawer flex sidenavTitle="Clinical Assurance Tool" name="{{userName}}" email="{{email}}">
    <mat-nav-list>
      <a mat-list-item href="home"><mat-icon>person</mat-icon>Patient</a>
      <a mat-list-item href="open"><mat-icon>note_addd</mat-icon>Import Document</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="logout"><mat-icon>exit_to_app</mat-icon>Logout</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a mat-list-item><mat-icon>account_box</mat-icon>Profile</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav toolbarTitle="Clinical Assurance Tool" navigationRoute="/epr">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <td-layout-manage-list [opened]="patientEprService.patient != undefined && showMenu" mode="side">
      <mat-toolbar td-sidenav-content>Medical Records</mat-toolbar>
      <div td-sidenav-content>
        <mat-nav-list>
          <span *ngIf="patientEprService.patient != undefined">
            <a mat-list-item routerLink="/epr/{{patientEprService.patient.id}}/documents"><mat-icon>note</mat-icon>Documents</a>
          <!-- <mat-divider></mat-divider>
            Smart on FHIR Apps
            <mat-divider></mat-divider>
            <a mat-list-item (click)="growthApp()"><mat-icon>bar_chart</mat-icon>Growth Chart</a>
            <a mat-list-item (click)="cardiacApp()"><mat-icon>favorite</mat-icon>Cardiac Risk</a> -->
          </span>
        </mat-nav-list>
      </div>
      <mat-toolbar>

        <span *ngIf="patient != undefined">
            <a (click)="menuToggle()">
              <span *ngIf="showMenu">
                <mat-icon>first_page</mat-icon>
              </span>
              <span *ngIf="!showMenu">
                <mat-icon>last_page</mat-icon>
              </span>
            </a>
            <span> &nbsp;  <b>{{ getLastName() }}</b> {{ getFirstName() }}</span>
            <span class="fill-remaining-space"></span>
            <span>
               &nbsp; <i>DOB: </i><b>{{patient.birthDate | date: 'dd-MMM-yyyy'}}</b>
            </span>
            <span class="fill-remaining-space"></span>
            <span>
               &nbsp;<i>Gender: </i><b>{{ patient.gender }}</b>
            </span>
            <span class="fill-remaining-space"></span>
            <span>
               &nbsp;<i>NHS No: </i><b>{{ getNHSIdentifier() }}</b>
            </span>
          </span>
      <!--  <button mat-button tdLayoutManageListToggle>
          Toggle
        </button> -->
      </mat-toolbar>
      <router-outlet></router-outlet>
    </td-layout-manage-list>
  </td-layout-nav>
</td-layout>

