<div class="container-fluid fixed-top">
<nav class="navbar navbar-expand navbar-dark bg-dark ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li *ngIf="isLoggedIn()" class="nav-item active"><a class="nav-link" routerLink="/find"><i class="fa fa-hospital-o" style="color:lightskyblue" aria-hidden="false"></i> Swap Patient</a></li>
      <li *ngIf="isLoggedIn()" class="nav-item "><a class="nav-link" routerLink="/open"><i class="fa fa-file-o" aria-hidden="false"></i> Load Document</a></li>

     <!-- <li *ngIf="isLoggedIn()" ngbDropdown class="nav-item dropdown">
        <span ngbDropdownToggle id="dropdownBasic1"><i class="fa fa-file" aria-hidden="false"></i> Documents</span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <span class="dropdown-item" routerLink="/open"> Import Document</span>
        </div>
      </li> -->

    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="isLoggedIn()" class="nav-item active"><a class="nav-link" (click)="logout()"><i class="fa fa-sign-out" style="color:lightskyblue" aria-hidden="false"></i> Logout</a></li>
  </ul>
    </div>

</nav>
  <span *ngIf="patientEprService.patient != undefined">
  <app-patient-item [patient]="patientEprService.patient"></app-patient-item>
    </span>
</div>

<router-outlet></router-outlet>
