<!-- <div>
  <form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <label>From </label>
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dpFm" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <img src="img/calendar-icon.svg" style="width: 0.8rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
    </div>
    <div class="input-group">
      <label>To </label>
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dpTo" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <img src="img/calendar-icon.svg" style="width: 0.8rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
    </div>
  </div>
</form>
</div>
-->

<app-observation [observations]="observations"></app-observation>
<ngb-pagination [collectionSize]="obsTotal" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
