<table >
  <thead>
  <tr >
    <th scope="col" width="30%">Date</th>
    <th scope="col" width="60%">Procedure</th>
    <th scope="col" width="5%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let procedure of procedures">
    <td >
      <span class="badge badge-light" >performed</span> {{procedure.performedDateTime | date: 'dd-MMM-yyyy'}}
    </td>
    <td >
       <b>{{procedure.code.coding[0].display}}</b>
      <span *ngIf="isSNOMED(procedure.code.coding[0].system)">
        <a (click)="getSNOMEDLink(procedure.code.coding[0])"> &nbsp;<span *ngIf="procedure.code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(procedure.code.coding[0].system)}} {{procedure.code.coding[0].code}}"></span> </a>
      </span>
      <span *ngIf="!isSNOMED(procedure.code.coding[0].system)">
        &nbsp;<span *ngIf="procedure.code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(procedure.code.coding[0].system)}} {{procedure.code.coding[0].code}}"></span>
      </span>
      <span *ngIf="procedure.bodySite != undefined">
        &nbsp;<span class="badge badge-light" >body site</span>
        <span *ngFor="let code of procedure.bodySite">
          {{code.coding[0].display}}
          <span *ngIf="isSNOMED(code.coding[0].system)">
            &nbsp;<a (click)="getSNOMEDLink(code.coding[0])"> <span *ngIf="code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(code.coding[0].system)}} {{code.coding[0].code}}"></span> </a>
          </span>
        </span>
      </span>
      <span *ngIf="procedure.complication != undefined">
        &nbsp;<span class="badge badge-light" >complication</span>
        <span *ngFor="let code of procedure.complication">
          {{code.coding[0].display}}
          <span *ngIf="isSNOMED(code.coding[0].system)">
           &nbsp; <a (click)="getSNOMEDLink(code.coding[0])"> <span *ngIf="code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(code.coding[0].system)}} {{code.coding[0].code}}"></span> </a>
          </span>
        </span>
      </span>
      &nbsp;<span class="badge badge-light" >status</span>
      <i> {{procedure.status}}</i>
    </td>
    <td >
      <button mat-icon-button color="accent" style="background-color: lightgray" (click)="select(procedure)"><mat-icon>code</mat-icon></button>
    </td>
  </tr>
  </tbody>
</table>
