<table mat-table>
  <thead>
  <tr mat-header-row>
    <th mat-header-cell scope="col" width="30%">Date</th>
    <th mat-header-cell scope="col" width="60%">Procedure</th>
    <th mat-header-cell scope="col" width="5%"></th>
  </tr>
  </thead>
  <tbody>
  <tr mat-row *ngFor="let procedure of procedures">
    <td mat-cell>
      <span class="badge badge-light" >performed</span>{{procedure.performedDateTime | date: 'dd-MMM-yyyy'}}
    </td>
    <td mat-cell>
       <b>{{procedure.code.coding[0].display}}</b>
      <span *ngIf="isSNOMED(procedure.code.coding[0].system)">
        <a (click)="getSNOMEDLink(procedure.code.coding[0])"> <span *ngIf="procedure.code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(procedure.code.coding[0].system)}} {{procedure.code.coding[0].code}}"></span> </a>
      </span>
      <span *ngIf="!isSNOMED(procedure.code.coding[0].system)">
        <span *ngIf="procedure.code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(procedure.code.coding[0].system)}} {{procedure.code.coding[0].code}}"></span>
      </span>
      <span *ngIf="procedure.bodySite != undefined">
        <span class="badge badge-light" >body site</span>
        <span *ngFor="let code of procedure.bodySite">
          {{code.coding[0].display}}
          <span *ngIf="isSNOMED(code.coding[0].system)">
            <a (click)="getSNOMEDLink(code.coding[0])"> <span *ngIf="code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(code.coding[0].system)}} {{code.coding[0].code}}"></span> </a>
          </span>
        </span>
      </span>
      <span *ngIf="procedure.complication != undefined">
        <span class="badge badge-light" >complication</span>
        <span *ngFor="let code of procedure.complication">
          {{code.coding[0].display}}
          <span *ngIf="isSNOMED(code.coding[0].system)">
            <a (click)="getSNOMEDLink(code.coding[0])"> <span *ngIf="code.coding[0].code != undefined" class="fa fa-book" ngbTooltip="{{getCodeSystem(code.coding[0].system)}} {{code.coding[0].code}}"></span> </a>
          </span>
        </span>
      </span>
      <span class="badge badge-light" >status</span>
      <i>{{procedure.status}}</i>
    </td>
    <td mat-cell>
      <a (click)="select(procedure)">
        <span class="fa fa-arrow-right" ngbTooltip="View Resource" style="color:green"></span>
      </a>
    </td>
  </tr>
  </tbody>
</table>
